.App {
  text-align: center;
}

.navbar-container {
  
  color: white;
}

.navbar-body {
  
  text-align: left;
  background-color: darkblue;
  padding: 20px;
}
#navbar-element {

  color: white;
  width: 100px;
  box-sizing: border-box;
  font-size: 15px;
  font-weight: 600;
  padding: 20px;
}
#link-id {

  color: white;
  text-decoration: none;
}
#navbar-element:hover {

  font-size: 15px;
  font-weight: 600;
  background-color: rgb(255, 0, 0);
  padding: 20px;
}

#formElement {

  padding: 8px;
}