body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.LeftBar {
  position: absolute;
  width: 20%;
  height: 90%;
  background-color: aliceblue;
  top: 0;
  left: 0;
}

.MusicControls {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15%;
  background-color: blue;
}

.Appx1 {
  position: absolute;
  top: 0;
  right: 0;
  width: 80%;
  height: 85%;
  background-color: coral;
}